body{
    background-color: antiquewhite;
}
.container{
    width: 900px;
    height: 600px;
    position: relative;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: rgb(254, 54, 4);
    border-radius: 100%;
    box-shadow: 3px 5px 10px;
    position: absolute;
    transition: all .35s linear;
    left: 20%;
    top: 20%;
}

@media screen and (max-width : 480px) {
    .circle{
        width: 80px;
        height: 80px;
    }
}
